In [ ]:
#########################
# read all files from get_familiar
# save them in a dictionary of datasets

import pandas as pd
import os

data_dir = 'data/get_familiar/'
datasets = {}
for file in os.listdir(data_dir):
    if file.endswith('.feather'):
        dataset_name = file[:file.index('_person')]
        datasets[dataset_name] = pd.read_feather(os.path.join(data_dir, file))

In [ ]:
# the names of the datasets
print(datasets.keys(), '\n')
# check the sizes of datasets
total_size = 0
for name, df in datasets.items():
    size = df.memory_usage(deep=True).sum()
    total_size += size
    print(f"Dataset '{name}' size: {size / (1024 ** 2):.2f} MB")
print(f"\nTotal size of all datasets: {total_size / (1024 ** 2):.2f} MB")

dict_keys(['breathing', 'accel', 'glucose', 'ecg', 'summary', 'insulin'])

Dataset 'breathing' size: 9.91 MB
Dataset 'accel' size: 79.30 MB
Dataset 'glucose' size: 0.09 MB
Dataset 'ecg' size: 61.95 MB
Dataset 'summary' size: 6.94 MB
Dataset 'insulin' size: 0.00 MB

Total size of all datasets: 158.19 MB

So it's ~150MB for 1 person for 1 day

=> we have (9 ppl) x (~5 days) x (150MB) = __6.5 GB__ of data JUST from D1namo

=> Gonna practice and develop on small chunks from different dataset,

then add more and more data

In [4]:
9*5*150/1024

6.591796875

In [ ]:
# measured every 4 microseconds
print(datasets['ecg'].info())
datasets['ecg']

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6496000 entries, 2014-10-04 06:34:57.423000 to 2014-10-04 13:48:01.419000
Data columns (total 1 columns):
 #   Column       Dtype
---  ------       -----
 0   EcgWaveform  uint16
dtypes: uint16(1)
memory usage: 62.0 MB
None

                         EcgWaveform
datetime
2014-10-04 06:34:57.423          297
2014-10-04 06:34:57.427          297
2014-10-04 06:34:57.431          297
2014-10-04 06:34:57.435          297
2014-10-04 06:34:57.439          297
...                              ...
2014-10-04 13:48:01.403         1956
2014-10-04 13:48:01.407         1956
2014-10-04 13:48:01.411         1957
2014-10-04 13:48:01.415         1957
2014-10-04 13:48:01.419         1957

[6496000 rows x 1 columns]

In [ ]:
# measured every 5 minutes from day 1 until day 6
# cgm = continuous glucose monitor
print(datasets['glucose'].info())
datasets['glucose']

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1438 entries, 2014-10-01 19:14:00 to 2014-10-06 16:54:02
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   glucose  1438 non-null   float64
 1   type     1438 non-null   object
dtypes: float64(1), object(1)
memory usage: 33.7+ KB
None

                     glucose    type
datetime
2014-10-01 19:14:00     10.3     cgm
2014-10-01 19:19:00      9.9     cgm
2014-10-01 19:23:00      9.4  manual
2014-10-01 19:24:00      9.8     cgm
2014-10-01 19:29:00      9.6     cgm
...                      ...     ...
2014-10-06 16:34:02     12.3     cgm
2014-10-06 16:39:02     12.5     cgm
2014-10-06 16:44:02     12.5     cgm
2014-10-06 16:49:02     12.3     cgm
2014-10-06 16:54:02     12.1     cgm

[1438 rows x 2 columns]

In [ ]:
# lots of aggregated measures including SKIN TEMP, HRV, etc.
# measured every 1 second for ONE DAY

print(datasets['summary'].info())
datasets['summary']

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 25984 entries, 2014-10-04 06:34:57.423000 to 2014-10-04 13:48:00.423000
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   HR                25984 non-null  int64
 1   BR                25984 non-null  float64
 2   SkinTemp          25984 non-null  float64
 3   Posture           25984 non-null  int64
 4   Activity          25984 non-null  float64
 5   PeakAccel         25984 non-null  float64
 6   BatteryVolts      25984 non-null  float64
 7   BatteryLevel      25984 non-null  int64
 8   BRAmplitude       25984 non-null  float64
 9   BRNoise           25984 non-null  float64
 10  BRConfidence      25984 non-null  int64
 11  ECGAmplitude      25984 non-null  float64
 12  ECGNoise          25984 non-null  float64
 13  HRConfidence      25984 non-null  int64
 14  HRV               25984 non-null  int64
 15  SystemConfidence  25984 non-null  int64
 16  GSR               25984 non-null  int64
 17  ROGState          25984 non-null  int64
 18  ROGTime           25984 non-null  int64
 19  VerticalMin       25984 non-null  float64
 20  VerticalPeak      25984 non-null  float64
 21  LateralMin        25984 non-null  float64
 22  LateralPeak       25984 non-null  float64
 23  SagittalMin       25984 non-null  float64
 24  SagittalPeak      25984 non-null  float64
 25  DeviceTemp        25984 non-null  float64
 26  StatusInfo        25984 non-null  int64
 27  LinkQuality       25984 non-null  int64
 28  RSSI              25984 non-null  int64
 29  TxPower           25984 non-null  int64
 30  CoreTemp          25984 non-null  float64
 31  AuxADC1           25984 non-null  int64
 32  AuxADC2           25984 non-null  int64
 33  AuxADC3           25984 non-null  int64
dtypes: float64(17), int64(17)
memory usage: 6.9 MB
None

,HR,BR,SkinTemp,Posture,Activity,PeakAccel,BatteryVolts,BatteryLevel,BRAmplitude,BRNoise,...,SagittalPeak,DeviceTemp,StatusInfo,LinkQuality,RSSI,TxPower,CoreTemp,AuxADC1,AuxADC2,AuxADC3
datetime,,,,,,,,,,,,,,,,,,,,,
2014-10-04 06:34:57.423,65,8.1,-3276.8,-61,0.60,1.46,4.166,94,6046.0,65535.0,...,1.31,27.1,528,255,-128,-128,6553.5,414,422,484
2014-10-04 06:34:58.423,65,8.1,-3276.8,-49,0.54,0.92,4.166,94,5350.0,65535.0,...,0.93,27.1,528,255,-128,-128,6553.5,415,423,483
2014-10-04 06:34:59.423,65,7.3,-3276.8,-22,0.68,1.09,4.166,94,4673.0,65535.0,...,0.24,27.1,528,255,-128,-128,6553.5,425,431,485
2014-10-04 06:35:00.423,65,7.3,-3276.8,22,0.39,0.56,4.166,94,4025.0,65535.0,...,-0.24,27.1,528,255,-128,-128,6553.5,416,423,483
2014-10-04 06:35:01.423,65,6.6,-3276.8,27,0.35,0.86,4.166,94,3500.0,65535.0,...,-0.06,27.1,528,255,-128,-128,6553.5,412,419,480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-10-04 13:47:56.423,0,18.4,-3276.8,-7,0.07,0.10,3.888,48,67.0,65535.0,...,0.22,32.4,531,255,-128,-128,35.3,409,419,461
2014-10-04 13:47:57.423,0,17.7,-3276.8,-7,0.07,0.08,3.888,48,60.0,65535.0,...,0.12,32.4,531,255,-128,-128,35.3,414,420,483
2014-10-04 13:47:58.423,0,17.7,-3276.8,-7,0.05,0.08,3.888,48,53.0,65535.0,...,0.12,32.4,531,255,-128,-128,35.3,419,424,486
2014-10-04 13:47:59.423,0,16.9,-3276.8,-8,0.02,0.04,3.888,48,47.0,65535.0,...,0.13,32.4,531,255,-128,-128,35.3,415,421,483
2014-10-04 13:48:00.423,0,16.9,-3276.8,-8,0.01,0.03,3.888,48,43.0,65535.0,...,0.12,32.4,531,255,-128,-128,35.3,415,420,483